body {
  background-color: #f7fafc;
}
header {
  width: 99vw;
  border: 1px solid #dee2e7;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}
#brandandlogo {
  /* display: flex; */
  /* margin: 10px 0px; */
  /* margin-left: 200px; */
}
.logo {
}
#searchform {
  display: flex;
}
input {
  width: 18vw;
  height: 5vh;
  border-top: 2px solid #0067ff;
  border-bottom: 2px solid #0067ff;
  border-left: 2px solid #0067ff;
  border-right: 0px solid #0067ff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#allcategory {
  width: 10vw;
  height: 4.4vh;
  /* height: 18px; */
  border-top: 2px solid #0067ff;
  border-bottom: 2px solid #0067ff;
  border-left: 1px solid #0067ff;
  border-right: 0px solid #0067ff;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#search {
  width: 6vw;
  height: 5vh;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #0067ff;
  color: white;
}
nav {
  width: 100%;
  height: 7vh;
  border: 1px solid #dee2e7;
  display: flex;
  align-items: center;
  align-content: center;
  /* gap: 5px; */
  justify-content: space-around;
  background-color: white;
}
.language {
  display: flex;
}
.navlist {
  display: flex;
}
.rightside {
  display: flex;
}
.leftside {
  display: flex;
  gap: 30px;
}
main {
  display: flex;
  height: 65vh;
  width: 65vw;
  border: 1px solid #dee2e7;
  /* justify-content:space-around ; */
  gap: 50px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 6px;
}
.leftside2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
.hero {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.mid {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightside2 {
  display: flex;
  flex-direction: column;
  /* align-content: center;
  align-items: center;
  justify-content: center; */
  gap: 10px;
  padding: 10px;
}
.box {
  display: flex;
  justify-content: space-around;
}
.user {
  height: 20vh;
  width: 10vw;
  border: none;
  display: flex;
  background-color: #e3f0ff;
  border-radius: 6px;
}
.joinnow {
  height: 3vh;
  width: 8vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #0067ff;
  color: white;
  border-radius: 6px;
}
.login {
  height: 3vh;
  width: 8vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #0067ff;
  border: none;
  border-radius: 6px;
  background-color: white;
}
.join {
  display: flex;
  justify-content: center;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.supplier {
  height: 15vh;
  width: 10vw;
  border: none;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #f38332;
  color: white;
  border-radius: 6px;
}
.quotes {
  height: 13vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: none;
  border-radius: 6px;
  background-color: #55bdc3;
  color: white;
}
.menu1 {
  background-color: #e5f1ff;
  border-radius: 6px;
  width: 7vw;
}
section {
  /* height: vh; */
  width: 66.2vw;
  display: flex;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border: 1px solid #dee2e7;
  border-radius: 0.2vw;
}
.salesection {
  display: flex;
  justify-content: center;
}
.countdown {
  font-size: 1vw;
  font-weight: 600;
}
.date {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.time {
  font-size: 16px;
  font-weight: 400;
}
#daysandtime {
  display: flex;
  gap: 0.3vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.boxes {
  /* height: 3vh; */
  width: 1.6vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #606060;
  border: none;
  border-radius: 0.2vw;
  color: #ffffff;
}
.lines {
  height: 10vw;

  border: 0.1px solid #e0e0e0;
}
.product {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 1vw;
}
.products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.textandborder {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 0.1vw;
}
.gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.1vw;
}
.gap2 {
  /* display: flex; */
  /* flex-direction: column; */
  /*  */
}
.gap3 {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.dealandoffer {
  color: #1c1c1c;
  display: flex;
  justify-content: space-around;
}
.hygeine {
  color: #8b96a5;
  font-weight: 400;
  font-size: 0.9vw;
}
.text {
  font-size: 0.8vw;
  font-weight: 400;
}
.blockitemsgroup1 {
  width: 66.9vw;
  height: 10vw;
  border: 1px solid #e0e0e0;
  display: flex;
  border-radius: 0.2vw;
}
.block1 {
  display: flex;
  justify-content: center;
  margin: 0.4vw;
}
.leftaside {
  display: flex;
  z-index: -2;
  position: absolute;
}
.leftaside {
}
.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.5vw;
  font-weight: 600;
  font-size: 1vw;
}
.sourcenow {
  height: 1.5vw;
  width: 4.2vw;
  border-radius: 0.2vw;
  border: none;
  background-color: #ffffff;
  font-size: 0.7vw;
  font-weight: 500;
}
.capandbuton {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: #1c1c1c;
}
.mainproducts {
  display: flex;
  justify-content: space-around;
  border-top: 0px solid black;
  border-left: 0px solid black;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  width: 13.3vw;
  height: 5vw;
  align-content: center;
  background-color: #ffffff;
}
.covercolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 0.8vw;
  gap: 0.5vw;
}
.rascmcovercolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  /* gap: 1vw; */
}
.usd {
  display: flex;
  flex-direction: column;
}
.flexwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spacebetweenoverall {
  display: flex;
  justify-content: space-around;
  gap: 9.2vw;
}
.spacing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.us {
  color: #8b96a5;
}
.caption2 {
  font-size: 0.7vw;
}

.maskgroup {
  width: 66.9vw;
  height: 20vw;
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
  /* border-radius: 0.9vw; */
}
.maskextra {
  display: flex;
  justify-content: center;
}

.maskimg{
  position: relative;
}

.maskimg img {
  width: 66.9vw;
  height: 20vw;
  border-radius: 0.2vw;
}

.maskimg .tint {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to right, #045fe7ef, #01c7f877);
  border-radius: 0.4vw;
}

.maskgroup-ontop-data{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  color: white;
}
.form{
  display: flex;
  /* flex-direction: column; */
}
form{
  width: 30%;
  
  border: none;
  display: flex;
  
  align-items: center;
  align-content: center;
  /* justify-content: space-around; */
  gap: 0.5vw;
  background-color: white;
  border-radius: 0.2vw;
}
h1{
  color: black;
}
.formtext{
  width: 70%;
  border: 1px solid #DEE2E7;
  color: black;
  border-radius: 0.2vw;
}
textarea{
  
  width: 10vw;
  height: 2vw;
  border: 1px solid #DEE2E7;
  border-radius: 0.2vw;

}
.formquantatiytext{
   display: flex;
   gap: 0.5vw;
   /* justify-content: center; */
   /* align-items: center; */
   /* align-content: center; */
   width: 50%;
  
   
  
}
.formtext{
  
}
.quant1{
  width: 30%;
border: 1px solid #DEE2E7;
border-radius: 0.2vw;
background-color: #ffffff;
color: black;
}
.quant2{
  width: 20%;
border: 1px solid #DEE2E7;
border-radius: 0.2vw;
background-color: #ffffff;
color: black;

}
select{
  border: none;
}
.inquiry{
  background-color: #0067ff;
  color: #ffffff;
  border: none;
  border-radius: 0.2vw;
}
.masktext1{
  font-size: 1.2vw;
  font-weight: 600;
}
.masktext2{
  font-size: 0.8vw;
  font-weight: 400;
} 
.text1extra{
  display: flex;
  flex-direction: column;
}
.covertingintoflex{
  display: flex;
  flex-direction: row;
}
.convertcol{
  display: flex;
  /* flex-direction: column; */
}
.changeall{
  display: flex;
  /* flex-direction: column; */
}